<div class="wrapper">
    <div class="birdseye-header">
      <div class="nav-wrap">
        <div class="container">
          <div class="logo"><span class="wsite-logo">

	<a href="/">
	
	<span id="wsite-title">Wild Me by Conservation X Labs</span>
	
	</a>

</span></div>
          <div class="nav desktop-nav"><ul class="wsite-menu-default">
		<li id="pg694498846489510043" class="wsite-menu-item-wrap">
			<a
						href="/what-we-do.html"
				class="wsite-menu-item"
				>
				What We Do
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-mission"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/what-we-do.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Mission
		</span>
	</a>
	
</li>
<li id="wsite-nav-424997852481387174"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/wildbook.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Wildbook
		</span><span class="wsite-menu-arrow">&gt;</span>
	</a>
	<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-958050062471505602"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/platforms.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Platforms
		</span>
	</a>
	
</li>
<li id="wsite-nav-362300113587443504"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://wildbook.docs.wildme.org/getting-started-with-wildbook.html"
			target="_blank"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Start a Wildbook
		</span>
	</a>
	
</li>

	</ul>
</div>

</li>
<li id="wsite-nav-miewid"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/miewid.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			MiewID
		</span>
	</a>
	
</li>
<li id="wsite-nav-giant-sequoias"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/giant-sequoias.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			AI for Giant Sequoias
		</span>
	</a>
	
</li>
<li id="wsite-nav-958464951951844081"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/scout.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Scout
		</span><span class="wsite-menu-arrow">&gt;</span>
	</a>
	<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-383287231193381174"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://scout.docs.wildme.org/"
			target="_blank"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Start a Scout
		</span>
	</a>
	
</li>

	</ul>
</div>

</li>
<li id="wsite-nav-149142502125248942"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/fin-finder.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Fin Finder
		</span>
	</a>
	
</li>
<li id="wsite-nav-234162303264709684"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/services.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Services
		</span>
	</a>
	
</li>
<li id="wsite-nav-945779016813216807"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://github.com/wildmeorg" target="_blank" rel="noopener"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Code
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg891700343906427767" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				Connect
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-756621776321354955"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://jobs.gusto.com/boards/conservation-x-labs-inc-14fc6ae7-e196-4389-acac-1241aa0f143d"
			target="_blank"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Careers (CXL)
		</span>
	</a>
	
</li>
<li id="wsite-nav-269723810549582780"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/contact-us.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Contact Us
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg358178692347735745" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				Resources
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-963914967196530390"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://community.wildme.org/"
			target="_blank"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Community
		</span>
	</a>
	
</li>
<li id="wsite-nav-373795605794884211"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://wildbook.docs.wildme.org/"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Documentation
		</span>
	</a>
	
</li>
<li id="wsite-nav-983313396813821889"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/legal.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Legal
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg321496247535835302" class="wsite-menu-item-wrap">
			<a
				class="wsite-menu-item"
				>
				About
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-220572040982696313"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://www.conservationxlabs.com/about"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Our Team
		</span>
	</a>
	
</li>
<li id="wsite-nav-116783019230162097"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/supporters.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Supporters
		</span>
	</a>
	
</li>
<li id="wsite-nav-295985211534764760"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="https://www.conservationxlabs.com/media"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Media
		</span>
	</a>
	
</li>
<li id="wsite-nav-160621431973261917"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/newsletter.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Newsletter
		</span>
	</a>
	
</li>
<li id="wsite-nav-572049920892123463"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="/publications.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			Publications
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg752038729615335873" class="wsite-menu-item-wrap">
			<a
						href="https://secure.givelively.org/donate/conservation-x-labs-inc/wild-me"
					target="_blank"
				class="wsite-menu-item"
				>
				Donate
			</a>
			
		</li>
		<li id="pg720405910563078434" class="wsite-menu-item-wrap">
			<a
						href="https://www.conservationxlabs.com/"
				class="wsite-menu-item"
				>
				Conservation X Labs →
			</a>
			
		</li>
		<li id="pg131744546902729518" class="wsite-menu-item-wrap">
			<a
						href="/privacy-policy.html"
				class="wsite-menu-item"
				>
				Privacy Policy
			</a>
			
		</li>
		
</ul>
		  
		  
		  </div> 
		  
		  <!-- code for search here - list.tpl -->
		  
          <label class="hamburger"><span></span></label>
        </div>
      </div>
    </div>
