@font-face {
  font-family: 'Lato';
  src: url(https://wildbookorg.github.io/wildme.org/7bb64c580cc0c570b210f5a342410ede.eot);
  src: local('Lato Black'), local('Lato-Black'),
      url(https://wildbookorg.github.io/wildme.org/7bb64c580cc0c570b210f5a342410ede.eot?#iefix) format('embedded-opentype'),
      url(https://wildbookorg.github.io/wildme.org/e29067446336b1e58be582e29387da02.woff2) format('woff2'),
      url(https://wildbookorg.github.io/wildme.org/dae5447e7099838af1fa0af40740f588.woff) format('woff'),
      url(https://wildbookorg.github.io/wildme.org/99930ae20914193e574afddfce179428.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url(https://wildbookorg.github.io/wildme.org/471fc24ff6a77e81ce5d54899518a8b5.eot);
  src: local('Lato Black Italic'), local('Lato-BlackItalic'),
      url(https://wildbookorg.github.io/wildme.org/471fc24ff6a77e81ce5d54899518a8b5.eot?#iefix) format('embedded-opentype'),
      url(https://wildbookorg.github.io/wildme.org/fd9d30edbf1a083f598b697e23d4e8b0.woff2) format('woff2'),
      url(https://wildbookorg.github.io/wildme.org/6cad9641aeefc2a158298d84fc207bc3.woff) format('woff'),
      url(https://wildbookorg.github.io/wildme.org/a9a41c84d585a174a460fbc02ab618c0.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url(https://wildbookorg.github.io/wildme.org/0f37fb6af5c7332d60586416b2ffde37.eot);
  src: local('Lato Bold'), local('Lato-Bold'),
      url(https://wildbookorg.github.io/wildme.org/0f37fb6af5c7332d60586416b2ffde37.eot?#iefix) format('embedded-opentype'),
      url(https://wildbookorg.github.io/wildme.org/12a234e87f37d441adc9bb2e3dec13de.woff2) format('woff2'),
      url(https://wildbookorg.github.io/wildme.org/2032f2b161a7a109a9d0cc3f6ad3b735.woff) format('woff'),
      url(https://wildbookorg.github.io/wildme.org/ff2b668b4f34a2c1c110e92ae1c01f56.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url(https://wildbookorg.github.io/wildme.org/779c2da469f5848020567fa94e2d64c6.eot);
  src: local('Lato-Hairline'),
      url(https://wildbookorg.github.io/wildme.org/779c2da469f5848020567fa94e2d64c6.eot?#iefix) format('embedded-opentype'),
      url(https://wildbookorg.github.io/wildme.org/4b5df23bf72e7e174aa9bc70c3ac80e2.woff2) format('woff2'),
      url(https://wildbookorg.github.io/wildme.org/f05daf8b55b3800a43620110dbe99926.woff) format('woff'),
      url(https://wildbookorg.github.io/wildme.org/1456968ed3f66be3adcab66101e108cc.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url(https://wildbookorg.github.io/wildme.org/ae813aa0e5d345bb67d179f230f9a5ae.eot);
  src: local('Lato-LightItalic'),
      url(https://wildbookorg.github.io/wildme.org/ae813aa0e5d345bb67d179f230f9a5ae.eot?#iefix) format('embedded-opentype'),
      url(https://wildbookorg.github.io/wildme.org/69e635f94393f4f294cd9df68c66335f.woff2) format('woff2'),
      url(https://wildbookorg.github.io/wildme.org/158c06177a976bdd53dc56d4e14b024d.woff) format('woff'),
      url(https://wildbookorg.github.io/wildme.org/2f5084a34fa393a7fdf71d0f91d39d73.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url(https://wildbookorg.github.io/wildme.org/392d0b765b7c34bbd85a6ba383c657ac.eot);
  src: local('Lato Italic'), local('Lato-Italic'),
      url(https://wildbookorg.github.io/wildme.org/392d0b765b7c34bbd85a6ba383c657ac.eot?#iefix) format('embedded-opentype'),
      url(https://wildbookorg.github.io/wildme.org/ba676cbaf74d3de20fee293293fc8cff.woff2) format('woff2'),
      url(https://wildbookorg.github.io/wildme.org/90d8ae9e97ee1e2e749d4eb1d3f8bb33.woff) format('woff'),
      url(https://wildbookorg.github.io/wildme.org/35654e840d583ab93743ec2d7cbd0f2b.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url(https://wildbookorg.github.io/wildme.org/2cca7c006fd3d6076bc15d9755dd3fc0.eot);
  src: local('Lato-Light'),
      url(https://wildbookorg.github.io/wildme.org/2cca7c006fd3d6076bc15d9755dd3fc0.eot?#iefix) format('embedded-opentype'),
      url(https://wildbookorg.github.io/wildme.org/09201a1cc16b4ea1d1b7c8fdf90d5a60.woff2) format('woff2'),
      url(https://wildbookorg.github.io/wildme.org/4ac54dd4f4c6e2a86e21aee167e1a5a1.woff) format('woff'),
      url(https://wildbookorg.github.io/wildme.org/dab08aa47b09844c8c82c5075046841f.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url(https://wildbookorg.github.io/wildme.org/30d5869edfc63b10fed1e3491dcfb1aa.eot);
  src: local('Lato-HairlineItalic'),
      url(https://wildbookorg.github.io/wildme.org/30d5869edfc63b10fed1e3491dcfb1aa.eot?#iefix) format('embedded-opentype'),
      url(https://wildbookorg.github.io/wildme.org/d3db3ad826af93b653b8863298b0dd58.woff2) format('woff2'),
      url(https://wildbookorg.github.io/wildme.org/3220823f977c63226ae99c670a47f478.woff) format('woff'),
      url(https://wildbookorg.github.io/wildme.org/c1ede22202e771f7d8a816dd76f305a7.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url(https://wildbookorg.github.io/wildme.org/5ca6a1d0d7e73a75ea1221ce529ce4ac.eot);
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
      url(https://wildbookorg.github.io/wildme.org/5ca6a1d0d7e73a75ea1221ce529ce4ac.eot?#iefix) format('embedded-opentype'),
      url(https://wildbookorg.github.io/wildme.org/7b7cc85b033ce1db351e6c2466f632b7.woff2) format('woff2'),
      url(https://wildbookorg.github.io/wildme.org/7e15a416aef23a90c23f99f3ce99f931.woff) format('woff'),
      url(https://wildbookorg.github.io/wildme.org/69c6aae48b8b37984c1cc57c9b9a424d.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url(https://wildbookorg.github.io/wildme.org/fb529b5c4d5892b07fa311b71553c4ed.eot);
  src: local('Lato Regular'), local('Lato-Regular'),
      url(https://wildbookorg.github.io/wildme.org/fb529b5c4d5892b07fa311b71553c4ed.eot?#iefix) format('embedded-opentype'),
      url(https://wildbookorg.github.io/wildme.org/69279aef7fbc11101022a9f06079bbbf.woff2) format('woff2'),
      url(https://wildbookorg.github.io/wildme.org/e87e43c57f21dd637791c6bfa534c1af.woff) format('woff'),
      url(https://wildbookorg.github.io/wildme.org/ba0cc8b032cbbab84a9c0990bfcb2087.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*# sourceMappingURL=main.css.map*/